<form [formGroup]="allForm" class ="grid-container">
    <label for="name">FirstName: </label>
    <input id="name" type="text" formControlName="name">
    <label for="last">LastName: </label>
    <input id="last" type="text" formControlName="last">
    <label for="age">Age: </label>
    <input id="age" type="range" formControlName="age">
    <label for="name">Height: </label>
    <input id="name" type="range" formControlName="height">
    <label for="like_cars">Like Cars?: </label>
    <input id="like_cars" type="range" formControlName="like_cars">
    <label for="like_bikes">Like Bikes?: </label>
    <input id="like_bikes" type="range" formControlName="like_bikes">
    <label for="like_holidays">Like Holidays?: </label>
    <input id="like_holidays" type="range" formControlName="like_holidays">
    <label for="like_skiing">Like Skiing?: </label>
    <input id="like_skiing" type="range" formControlName="like_skiing">
    <label for="min_salary">Min Salary?: </label>
    <input id="min_salary" type="range" formControlName="min_salary">
    <label for="max_salary">Max Salary?: </label>
    <input id="max_salary" type="range" formControlName="max_salary">
</form>





<!-- Using div tags for layout. -->
<!-- 
<form [formGroup]="allForm">
    <div>
      <label for="name">FirstName: </label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="last">LastName: </label>
      <input id="last" type="text" formControlName="last">
    </div>
    <div>
      <label for="age">Age: </label>
      <input id="age" type="range" formControlName="age">
    </div>
    <div>
      <label for="height">Height: </label>
      <input id="height" type="range" formControlName="height">
    </div>
    <div>
      <label for="like_cars">Like Cars?: </label>
      <input id="like_cars" type="range" formControlName="like_cars">
    </div>
    <div>
      <label for="like_bikes">Like Bikes?: </label>
      <input id="like_bikes" type="range" formControlName="like_bikes">
    </div>
    <div>
      <label for="like_holidays">Like Holidays?: </label>
      <input id="like_holidays" type="range" formControlName="like_holidays">
    </div>
    <div>
      <label for="like_skiing">Like Skiing?: </label>
      <input id="like_skiing" type="range" formControlName="like_skiing">
    </div>
    <div>
      <label for="min_salary">Min Salary?: </label>
      <input id="min_salary" type="range" formControlName="min_salary">
    </div>
    <div>
      <label for="max_salary">Max Salary?: </label>
      <input id="max_salary" type="range" formControlName="max_salary">
    </div>
  </form> -->
  



